<% if (Backbone.User.permissions().POST) { %>
  <p class="pull-right">
    <a href="/classificators/add" class="btn"><%= T('title-add-classificator') %></a>
  </p>
<% } %>
<div id="grid-content"></div>
