<legend>
  <%
    var mytmp = templates.get(templateId).toJSON();
    if(mytmp.parent) {
      mytmp = templates.get(mytmp.parent).toJSON();
    }
  %>
  <%= mytmp.label %> <span id="total-count" style="display: none">(<span id="total-count-nr">0</span>)</span>
</legend>

<form class="pull-left form-inline">
  <label><%= T('title-search') %></label>
  <select id="field-filter">
    <option value="_ALL_">--</option>
    <% _.each(templates.get(templateId).toJSON().form_fields, function (field) { %>
      <% if (field.type == 'text' || field.type == 'textarea' || field.type == 'number') { %>
      <option value="<%= field.name %>" data-type="<%= field.type %>"><%= field.label %></option>
      <% } %>
    <% }); %>
  </select>

  <div class="input-append">
    <input type="text">
    <button class="btn" type="submit"><%= T('button-search') %></button>
  </div>

  <div id="filter-list"></div>
</form>

<form class="pull-left form-inline">
	<label>&nbsp;</label>
	<select class="input-small" id="page-size">
		<option>25</option>
		<option>50</option>
		<option>200</option>
	</select>
</form>

<% if (permissions.POST) { %>
<p class="pull-right">
  &nbsp;
  <a href="/import?template_id=<%= templateId %>" class="btn"><%= T('button-csv-import') %></a>
  <button id="export-resources" class="btn">%= T('button-csv-export') %></button>
  <a href="/resources/<%= templateId %>/add" class="btn"><%= T('button-add-resource') %></a>
</p>
<% } %>

<form class="pull-right form-inline">
  <%
    var parent = templates.get(templateId).toJSON().parent;
    var chosen = parent || templateId;
  %>
  <% if (templates.where({parent: chosen}).length > 0) { %>
    <label><%= T('title-template') %></label>
    <select id="redirect-child">
      <option value="<%= parent ? parent : '' %>">--</option>
      <% templates.where({parent: chosen}).forEach(function(template) { %>
        <option value="<%= template.id %>"<%= template.id == templateId ? ' selected' : '' %> ><%= template.attributes.label %></option>
      <% }); %>
    </select>

    <% if (parent && templates.get(templateId).toJSON().show_all_enabled) { %>
    <label><%= T('title-show-all') %></label>
    <input type="checkbox" id="filter-template">
    <% } %>
  <% } %>
</form>

<div class="clearfix"></div>

<div id="grid-content"></div>
