<% categories.forEach(function(elem) { %>
	<li>
		<a href="<%= elem.attributes.url %>"<%= elem.attributes.is_external ? ' target="_blank"' : '' %>>
			<i class="<%= elem.attributes.icon || 'icon-bookmark' %>"></i>
			<span class="menu-text"> <%= elem.attributes.name %></span>
		</a>
	</li>
<% }); %>
