<legend><%= T('title-csv-import') %></legend>

<div id="form-content"></div>

<label><%= T('csv-import-skip-first-row') %></label>
<input type="checkbox" id="skip-first-row">

<br>

<button class="btn" id="preview-item"><%= T('button-preview') %></button>

<button class="btn add pull-right" id="start-import"><%= T('csv-start-uploading') %></button>

<br>

<div class="progress progress-striped active">
  <div class="bar" style="width: 0%;"></div>
</div>

<br>

<table class="table table-hover table-bordered" id="import-preview">
  <thead>
    <tr></tr>
  </thead>
  <tbody></tbody>
</table>
