<div id="reference-list"></div>

<button class="btn" id="add-reference"><%= T('button-add-metadata') %></button>
<div class="clearfix"></div>
<br>

<script id="referenceRow" type="text/html">
  <div class="form-inline" data-socket="">
    <label><%= T('metadata-key') %></label>
    <input type="text">

    <label><%= T('metadata-value') %></label>
    <textarea></textarea>

    <button class="btn"><%= T('button-delete') %></button>
  </div>
</script>
