<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#files-container">
				<i class="icon-angle-right"></i> <%= T('title-files') %> (<%= files.state.totalRecords %>)
			</a>
		</h4>
	</div>
	<div id="files-container" class="panel-collapse collapse">
		<div class="panel-body">
			<%
				var file_add_link = '/files?template_id=' + templateId + '&resource_id=' + resourceId;
				if (Backbone.View.permissions('/files').POST) {
			%>
			<a href="/files/add?template_id=<%= templateId %>&resource_id=<%= resourceId %>" class="btn add"><%= T('button-add-files') %></a>
			<% } %>

            <% if (Backbone.View.permissions('/files').PATCH) { %>
            <a href="/files/add_existing?template_id=<%= templateId %>&resource_id=<%= resourceId %>" class="btn add"><%= T('button-link-files') %></a>
            <% } %>

			<% if (files.state.totalRecords != 0) { %>
				<a href="/files?references.template_id=<%= templateId %>&references.resource_id=<%= resourceId %>" class="btn" id="show-all-files"><%= T('button-view-all') %> (<%= files.state.totalRecords %>)</a>
			<% } %>

			<div class="clearfix"></div>
			<br>

			<ul class="thumbnails">
				<% files.forEach(function (file) { %>
				<li>
					<a href="/files/<%= file.id %>/edit" class="thumbnail">
						<% if (file.attributes.contentType == 'image/jpeg') { %>
							<img src="/api/download/<%= file.id %>?w=150&h=150" alt="">
						<% } else { %>
							<div style="width: 150px; height: 150px">
								<%= file.get('filename') %>
							</div>
						<% } %>
					</a>
				</li>
				<% }); %>
			</ul>
		</div>
	</div>
</div>
