<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#map-container">
				<i class="icon-angle-right"></i> <%= T('title-map') %>
			</a>
		</h4>
	</div>
	<div id="map-container" class="panel-collapse collapse">
		<div class="panel-body" id="map-body"></div>
	</div>
</div>
