<form class="form-horizontal">
  <legend><%= T('title-change-password') %></legend>
  <div class="control-group">
    <label class="control-label" for="oldPassword"><%= T('current-password') %></label>
    <div class="controls">
      <input type="password" id="oldPassword">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="newPassword"><%= T('new-password') %></label>
    <div class="controls">
      <input type="password" id="newPassword">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="newPassword2"><%= T('repeat-password') %></label>
    <div class="controls">
      <input type="password" id="newPassword2">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn"><%= T('button-save') %></button>
    </div>
  </div>
</form>
