<legend><%= T('title-edit-user') %></legend>

<div id="form-content"></div>

<% if (permissions.DELETE) { %>
<button class="btn btn-danger" id="delete-item"><%= T('button-delete') %></button>
<% } %>

<% if (permissions.PATCH) { %>
<button class="btn" id="save-item"><%= T('button-save') %></button>
<% } %>
