@media print {
   * {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      box-shadow: none !important;
   }
   a,
   a:visited {
      text-decoration: underline;
   }
   a[href]:after {
      content: "";
   }
   abbr[title]:after {
      content: "";
   }
   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
      content: "";
   }
   pre,
   blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
   }
   thead {
      display: table-header-group;
   }
   tr,
   img {
      page-break-inside: avoid;
   }
   img {
      max-width: 100% !important;
   }
   @page  {
      margin: 0.5cm;
   }
   p,
   h2,
   h3 {
      orphans: 3;
      widows: 3;
   }
   h2,
   h3 {
      page-break-after: avoid;
   }
   #sidebar, #error-container, #export-resources, #form-content { display:none;}
   #content { margin-left:0 !important;}
   .alert { display:none;}
   form, .btn { display:none;}
   .navbar .nav-collapse, .navbar .nav, .navbar .btn-navbar {display:none;}
   .navbar .brand{ background:#438EB9 !important;}
   #main-container { padding-left:20px;}
}